body {
  max-width: 700px;
  margin: 0 auto;
}

main {
  margin: 0 10px;
}

time {
  color: #ABB;
}

h2 {
  margin: 0px;
}

h1 a, h2 a {
  text-decoration: none;
}

a:link {
  color: #233;
}

a:visited {
  color: #566;
}

a:hover {
  color: #7AF;
}

body {
  font-family: "Verdana", Geneva, sans-serif;
}

figure {
  margin: 20px;
}
