<!DOCTYPE html>
<html>
<head>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="alternate"
        type="application/atom+xml"
        href="{{ site.baseurl }}/atom.xml">
  <link rel="stylesheet"
        type="text/css"
        href="{{ site.baseurl }}/main.css">

  <script type="text/javascript"
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$']]}
  });
  </script>
</head>
<body>
  <main id="main">
    {{ content }}
  </main>
</body>
</html>
